<div class="breadcrumbs">
    <a href="/">Главная</a> /
    <a href="/autozapchasti">Запчасти</a> /
    {% for item in pathway %}
        {% if item.name != '' %}
                {% if item.link != '' %}
                    <a href="{{ item.link }}">{{ item.name }}</a> /
                {% else %}
                    <span>{{ item.name }}</span>
                {% endif %}
        {% endif %}
    {% endfor %}
</div>
